# DATA SCIENCE BASICS

This notebook summarized what we have learned in this course so far.

Data Science Languages
1. Pyhton
2. R
3. Anaconda

Data Science Libraries
1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas

Data Science Tools
| Name of Tool        |
| ------------- |
| Jupyterlab      |
| Github      |
| SPSS |

### Some arithmatic expressions
- Multiplication: x*y
- Division: x/y
- Exponent: x**y

Simple Arithmetic expression with example

In [4]:
x=2*5+15;
print(x)

25

This expression will convert any given input of minutes into hours.

In [5]:
num= int(input("Insert the total minutes:"))
hours=num/60;
print(hours,"hours")

Insert the total minutes: 180

3.0 hours


List of Objectives:
- Introduction to Data Science
- Tools for Data science
- Data Science Libraries

## Author

MAZHAR UDDIN